<h1>{{link-to 'SAINT AWKWARD' 'index'}}</h1>

<ul>
  <li>{{link-to 'Music' 'music'}}</li>
  <li>{{link-to 'Press' 'press'}}</li>
  {{#if session.isAuthenticated}}
    <li {{action 'logout'}}>Logout {{session.currentUser.email}}</li>
  {{else}}
    <li {{action 'toggleLoginPane'}}>Login</li>
  {{/if}}
</ul>

{{#if showLoginPane}}
  {{#if errorMessage}}
    <span class="color: red">{{errorMessage}}</span>
  {{/if}}

  <div style="width: 200px">
    {{input type="text" value=email placeholder="Email Address" maxlength="50"}}
    {{input type="password" value=password placeholder="Password" maxlength="50"}}

    <button {{action 'login'}}>Login</button>
  </div>
{{/if}}

{{outlet}}
